.tenetSidebar {
    background-color: white;
    width: 100%;
    height: 100%;
    transition: transform 500ms;
}

.tenetSidebar.open {
    transform: translateX(100%);
}

.tenetSidebar.closed {
    transform: translateX(0px);
}